body {
  background-color: #1a237e;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Amatic SC', cursive;
}

h1{
  color: #fefefe;
}

.clock-container{
  position: relative;
  max-width: 250px;
  display: block;
  margin: auto;
}

.startBtn {
  position: absolute;
  top: 95px;
  left: 98px;
}

.timer{
  position: absolute;
  top: 10px;
  left: 85px;
  width: 80px;
}

.lengthValues{
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
  margin: 0px 10px 0px 10px !important;
}
